In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from gnatss.ops.posfilter import kalman_filtering
from gnatss.loaders import read_novatel_L1_data_files
from gnatss.loaders import load_gps_solutions, load_travel_times
from gnatss.ops.data import clean_tt, preprocess_tt

import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.5f' % x)


import warnings
warnings.filterwarnings('ignore')

In [3]:
travel_time_files = ['/home/madhavmk/Desktop/offshore-geodesy/tests/data/2022/NCL1/208/WG_20220727/pxp_tt', '/home/madhavmk/Desktop/offshore-geodesy/tests/data/2022/NCL1/209/WG_20220728/pxp_tt', '/home/madhavmk/Desktop/offshore-geodesy/tests/data/2022/NCL1/210/WG_20220729/pxp_tt']

transponder_ids = ['NCL1-1', 'NCL1-2', 'NCL1-3']
travel_times_correction = 0.0
transducer_delay_time = 0.0

all_travel_times = load_travel_times(
        files=travel_time_files, transponder_ids=transponder_ids
    )


cleaned_travel_times = clean_tt(all_travel_times, transponder_ids, travel_times_correction, transducer_delay_time)
twtt_df = preprocess_tt(cleaned_travel_times)
# twtt = twtt_df.rename(columns={'time': 'dts'})
twtt_df

                 time      MT      TT              ST
0     712215465.00000      ST 0.00000             NaN
1     712215467.26326  NCL1-1 2.26326 712215465.00000
2     712215467.38340  NCL1-2 2.38340 712215465.00000
3     712215467.40082  NCL1-3 2.40082 712215465.00000
4     712215480.00000      ST 0.00000             NaN
...               ...     ...     ...             ...
34407 712396373.47335  NCL1-3 2.47334 712396371.00000
34408 712396386.00000      ST 0.00000             NaN
34409 712396388.25092  NCL1-1 2.25093 712396386.00000
34410 712396388.31850  NCL1-2 2.31850 712396386.00000
34411 712396388.47754  NCL1-3 2.47754 712396386.00000

[34412 rows x 4 columns]

In [4]:
inspvaa_df = read_novatel_L1_data_files(data_files=['tests/data/2022/NCL1/NCL1_INSPVAA.dat'], data_format="INSPVAA")
insstdeva_df = read_novatel_L1_data_files(data_files=['tests/data/2022/NCL1/NCL1_INSSTDEVA.dat'],
                                          data_format="INSSTDEVA")

In [5]:
inspvaa_df

,Week,Seconds,lat,lon,alt,ant_n,ant_e,ant_u,roll,pitch,heading,time
0,2220,400732.75000,45.30228,-124.96597,-28.34490,-0.68580,0.10140,0.24130,-3.55017,1.67569,225.48596,712293532.75000
1,2220,400732.80000,45.30228,-124.96597,-28.33400,-0.63800,0.07880,0.27340,-3.54066,1.37273,225.57350,712293532.80000
2,2220,400732.85000,45.30228,-124.96597,-28.32250,-0.58330,0.05340,0.29260,-3.18302,1.12580,225.64909,712293532.85000
3,2220,400732.90000,45.30228,-124.96597,-28.31040,-0.54400,0.04050,0.29500,-2.58513,0.94125,225.70457,712293532.90000
4,2220,400732.95000,45.30228,-124.96597,-28.29900,-0.51220,0.03460,0.28010,-1.81905,0.82661,225.73288,712293532.95000
...,...,...,...,...,...,...,...,...,...,...,...,...
3865082,2220,469048.15000,45.30206,-124.96584,-23.49010,-0.97260,1.06310,-0.11580,2.40545,-1.05323,127.18168,712361848.15000
3865083,2220,469048.20000,45.30206,-124.96584,-23.49620,-0.98040,1.08850,-0.14160,2.84893,-0.73574,126.52136,712361848.20000
3865084,2220,469048.25000,45.30205,-124.96584,-23.50370,-0.97090,1.12550,-0.17280,3.10908,-0.44089,125.87306,712361848.25000
3865085,2220,469048.30000,45.30205,-124.96584,-23.51290,-0.95420,1.15780,-0.20870,3.18417,-0.16181,125.24787,712361848.30000
3865086,2220,469048.35000,45.30205,-124.96584,-23.52430,-0.92720,1.19180,-0.25010,3.05575,0.10819,124.66032,712361848.35000

In [6]:
insstdeva_df

,Week,Seconds,lat std,lon std,alt std,ant_n std,ant_e std,ant_u std,roll_roll,pitch_pitch,heading_heading,Ext sol stat,Time Since Update,time
0,2220,400732.75000,0.50020,0.44000,0.72830,0.01790,0.01590,0.01600,0.03010,0.03080,0.14650,0e0000d3,0,712293532.75000
1,2220,400732.80000,0.50020,0.44000,0.72830,0.01790,0.01590,0.01600,0.03010,0.03080,0.14650,0e0000d3,0,712293532.80000
2,2220,400732.85000,0.50020,0.44000,0.72830,0.01790,0.01590,0.01600,0.03010,0.03080,0.14650,0e0000d3,0,712293532.85000
3,2220,400732.90000,0.50020,0.44000,0.72830,0.01790,0.01590,0.01600,0.03010,0.03080,0.14650,0e0000d3,0,712293532.90000
4,2220,400732.95000,0.50020,0.44000,0.72830,0.01790,0.01590,0.01600,0.03010,0.03080,0.14650,0e0000d3,0,712293532.95000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3865303,2220,469048.15000,0.37480,0.31840,0.74050,0.01720,0.01470,0.02060,0.02520,0.02570,0.12630,0e0000d3,0,712361848.15000
3865304,2220,469048.20000,0.37480,0.31840,0.74050,0.01720,0.01470,0.02060,0.02520,0.02570,0.12630,0e0000d3,0,712361848.20000
3865305,2220,469048.25000,0.37480,0.31840,0.74050,0.01720,0.01470,0.02060,0.02520,0.02570,0.12630,0e0000d3,0,712361848.25000
3865306,2220,469048.30000,0.37480,0.31840,0.74050,0.01720,0.01470,0.02060,0.02520,0.02570,0.12630,0e0000d3,0,712361848.30000
3865307,2220,469048.35000,0.37480,0.31840,0.74050,0.01720,0.01470,0.02060,0.02520,0.02570,0.12630,0e0000d3,0,712361848.35000

In [7]:
gps_novatel_df = load_gps_solutions(
    files = [
        'tests/data/2022/NCL1/208/GPS_PPP/GPS_POS_FREED',
        'tests/data/2022/NCL1/209/GPS_PPP/GPS_POS_FREED',
        'tests/data/2022/NCL1/210/GPS_PPP/GPS_POS_FREED',
    ],
    is_l1_data=True,
)
gps_novatel_df

,time,x,y,z,sdx,sdy,sdz
0,712207183.00000,-2574893.32050,-3681574.16020,4512096.64040,2.44910,2.44890,2.44880
1,712207184.00000,-2574893.27980,-3681574.05620,4512096.74780,2.23590,2.23570,2.23560
2,712207185.00000,-2574893.23910,-3681573.95220,4512096.85520,2.00000,1.99980,1.99970
3,712207186.00000,-2574893.19830,-3681573.84820,4512096.96260,1.73230,1.73200,1.73190
4,712207187.00000,-2574893.15760,-3681573.74410,4512097.07000,1.41470,1.41440,1.41420
...,...,...,...,...,...,...,...
193288,712400473.00000,-2575282.93430,-3682610.17990,4511037.84700,0.01340,0.01370,0.01580
193289,712400474.00000,-2575283.67510,-3682610.14460,4511038.07690,0.01340,0.01370,0.01580
193290,712400475.00000,-2575283.93220,-3682610.22220,4511037.95340,0.01340,0.01370,0.01580
193291,712400476.00000,-2575283.70300,-3682609.18440,4511037.48930,0.01340,0.01370,0.01580
193292,712400477.00000,-2575284.31140,-3682608.27740,4511037.88220,0.01340,0.01370,0.01580

In [8]:
kalman_filtered_df, x, P, K, Pp = kalman_filtering(twtt_df, inspvaa_df, insstdeva_df, gps_novatel_df)

run_filter_simulation with parameters: gnss_pos_psd=3.125e-05, vel_psd=0.0025, cov_err=0.25

In [9]:
kalman_filtered_df = kalman_filtered_df[
    ['time', 'x', 'y', 'z', 'xx', 'xy', 'xz', 'yx', 'yy', 'yz', 'zx', 'zy', 'zz']
]
kalman_filtered_df

,time,x,y,z,xx,xy,xz,yx,yy,yz,zx,zy,zz
0,712207205.00000,-2574898.60594,-3681585.64250,4512084.39871,0.00139,0.00046,0.00030,0.00046,0.00105,0.00020,0.00030,0.00020,0.00092
1,712207205.05000,-2574898.62028,-3681585.67689,4512084.33330,0.00134,0.00046,0.00031,0.00046,0.00100,0.00020,0.00031,0.00020,0.00086
2,712207205.10000,-2574898.63461,-3681585.71129,4512084.26791,0.00130,0.00046,0.00031,0.00046,0.00096,0.00020,0.00031,0.00020,0.00082
3,712207205.15000,-2574898.64843,-3681585.74603,4512084.20306,0.00126,0.00046,0.00031,0.00046,0.00093,0.00020,0.00031,0.00020,0.00079
4,712207205.20000,-2574898.66175,-3681585.78110,4512084.13917,0.00123,0.00046,0.00031,0.00046,0.00089,0.00020,0.00031,0.00020,0.00075
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3890870,712400477.50000,-2575284.78066,-3682607.95337,4511038.03547,0.00043,0.00012,0.00013,0.00012,0.00044,0.00014,0.00013,0.00014,0.00048
3890871,712400477.55000,-2575284.83963,-3682607.92177,4511038.04918,0.00046,0.00012,0.00013,0.00012,0.00047,0.00014,0.00013,0.00014,0.00051
3890872,712400477.60000,-2575284.89884,-3682607.88844,4511038.05908,0.00050,0.00012,0.00013,0.00012,0.00050,0.00014,0.00013,0.00014,0.00054
3890873,712400477.65000,-2575284.95706,-3682607.85303,4511038.06383,0.00053,0.00012,0.00013,0.00012,0.00053,0.00014,0.00013,0.00014,0.00057
3890874,712400477.70000,-2575285.01348,-3682607.81602,4511038.06371,0.00056,0.00012,0.00013,0.00012,0.00057,0.00014,0.00013,0.00014,0.00061

In [10]:
gps_pos_freed_trans = load_gps_solutions(
    files = [
        'tests/data/POS_TWTT',
        # 'tests/data/2022/NCL1/209/posfilter/POS_FREED_TRANS_TWTT',
        # 'tests/data/2022/NCL1/210/posfilter/POS_FREED_TRANS_TWTT',
    ],
)

gps_pos_freed_trans = gps_pos_freed_trans[
    ["time", "x", "y", "z", 'xx', 'xy', 'xz', 'yx', 'yy', 'yz', 'zx', 'zy', 'zz']
]
gps_pos_freed_trans

,time,x,y,z,xx,xy,xz,yx,yy,yz,zx,zy,zz
0,712215465.00000,-2575288.61500,-3682570.76100,4511064.96100,0.00076,0.00000,-0.00000,0.00000,0.00100,-0.00000,-0.00000,-0.00000,0.00089
1,712215467.26326,-2575287.15700,-3682572.08300,4511065.66500,0.00032,0.00000,-0.00000,0.00000,0.00055,-0.00000,-0.00000,-0.00000,0.00044
2,712215467.38340,-2575287.09800,-3682572.13700,4511065.66200,0.00041,0.00000,-0.00000,0.00000,0.00065,-0.00000,-0.00000,-0.00000,0.00054
3,712215467.40082,-2575287.08900,-3682572.14500,4511065.66000,0.00048,0.00000,-0.00000,0.00000,0.00072,-0.00000,-0.00000,-0.00000,0.00060
4,712215480.00000,-2575279.82100,-3682576.57000,4511066.25000,0.00076,0.00000,-0.00000,0.00000,0.00100,-0.00000,-0.00000,-0.00000,0.00089
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4447,712238383.29579,-2576531.23400,-3682656.04000,4510291.03600,0.00044,-0.00000,-0.00000,-0.00000,0.00042,-0.00000,-0.00000,-0.00000,0.00038
4448,712238383.91264,-2576531.70900,-3682655.55000,4510290.96900,0.00088,-0.00000,-0.00000,-0.00000,0.00087,-0.00000,-0.00000,-0.00000,0.00083
4449,712238396.00000,-2576537.79700,-3682654.09700,4510289.00000,0.00088,-0.00000,-0.00000,-0.00000,0.00087,-0.00000,-0.00000,-0.00000,0.00083
4450,712238398.29877,-2576539.92100,-3682653.44700,4510289.00500,0.00044,-0.00000,-0.00000,-0.00000,0.00043,-0.00000,-0.00000,-0.00000,0.00043
4451,712238398.92219,-2576540.28200,-3682653.24500,4510289.02200,0.00088,-0.00000,-0.00000,-0.00000,0.00087,-0.00000,-0.00000,-0.00000,0.00087

In [11]:
pd.set_option('display.float_format', lambda x: '%.8f' % x)

common_df = kalman_filtered_df.merge(
    gps_pos_freed_trans,
    on="time",
    how="inner",
    suffixes=("_kalman", "_gold")
)
common_df = common_df[[
    'time','x_kalman', 'x_gold','y_kalman', 'y_gold','z_kalman', 'z_gold',
    'xx_kalman', 'xx_gold', 'xy_kalman', 'xy_gold', 'xz_kalman', 'xz_gold',
    'yx_kalman', 'yx_gold', 'yy_kalman', 'yy_gold', 'yz_kalman', 'yz_gold',
    'zx_kalman', 'zx_gold', 'zy_kalman', 'zy_gold', 'zz_kalman', 'zz_gold',
]]
common_df

,time,x_kalman,x_gold,y_kalman,y_gold,z_kalman,z_gold,xx_kalman,xx_gold,xy_kalman,...,yy_kalman,yy_gold,yz_kalman,yz_gold,zx_kalman,zx_gold,zy_kalman,zy_gold,zz_kalman,zz_gold
0,712215465.00000000,-2575288.60969962,-2575288.61500000,-3682570.76516713,-3682570.76100000,4511064.96401325,4511064.96100000,0.00004146,0.00076427,0.00008977,...,0.00019435,0.00100377,0.00014729,-0.00000347,0.00006803,-0.00000229,0.00014729,-0.00000347,0.00011162,0.00088748
1,712215467.26326096,-2575287.19282007,-2575287.15700000,-3682572.03988926,-3682572.08300000,4511065.66815713,4511065.66500000,0.00017376,0.00031548,0.00007156,...,0.00029513,0.00055488,0.00011623,-0.00000103,0.00005361,-0.00000060,0.00011623,-0.00000103,0.00023001,0.00043844
2,712215467.38339806,-2575287.13657920,-2575287.09800000,-3682572.09665570,-3682572.13700000,4511065.66491367,4511065.66200000,0.00020575,0.00041280,0.00006655,...,0.00031845,0.00065221,0.00010769,-0.00000144,0.00004964,-0.00000088,0.00010769,-0.00000144,0.00025819,0.00053579
3,712215467.40082097,-2575287.09163074,-2575287.08900000,-3682572.13355411,-3682572.14500000,4511065.65574961,4511065.66000000,0.00021350,0.00047584,0.00006518,...,0.00032391,0.00071525,0.00010552,-0.00000148,0.00004864,-0.00000091,0.00010552,-0.00000148,0.00026485,0.00059884
4,712215480.00000000,-2575279.82298788,-2575279.82100000,-3682576.58206697,-3682576.57000000,4511066.24882862,4511066.25000000,0.00004143,0.00076328,0.00008971,...,0.00019422,0.00100290,0.00014719,-0.00000381,0.00006799,-0.00000253,0.00014719,-0.00000381,0.00011155,0.00088686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2957,712238336.00000000,-2576518.39653717,-2576518.39900000,-3682660.99401738,-3682660.99600000,4510294.03197784,4510294.03400000,0.00011702,0.00088004,0.00011350,...,0.00011008,0.00087109,0.00009709,-0.00000186,0.00010010,-0.00000130,0.00009709,-0.00000186,0.00008563,0.00087399
2958,712238351.00000000,-2576521.23558034,-2576521.23300000,-3682659.72708572,-3682659.73000000,4510294.06119276,4510294.05900000,0.00011746,0.00088386,0.00011395,...,0.00011054,0.00087088,0.00009689,-0.00000215,0.00009988,-0.00000151,0.00009689,-0.00000215,0.00008493,0.00083280
2959,712238366.00000000,-2576524.97906577,-2576524.97700000,-3682658.54322488,-3682658.54900000,4510292.72733869,4510292.73200000,0.00011747,0.00088394,0.00011395,...,0.00011054,0.00087307,0.00009689,-0.00000237,0.00009988,-0.00000166,0.00009689,-0.00000237,0.00008493,0.00083306
2960,712238381.00000000,-2576530.16229391,-2576530.16700000,-3682657.19230841,-3682657.19200000,4510291.13417657,4510291.14000000,0.00012188,0.00105453,0.00011753,...,0.00011333,0.00092238,0.00009934,-0.00000231,0.00010302,-0.00000167,0.00009934,-0.00000231,0.00008708,0.00085666
2961,712238396.00000000,-2576537.79917405,-2576537.79700000,-3682654.09532720,-3682654.09700000,4510288.99806956,4510289.00000000,0.00011926,0.00088495,0.00011571,...,0.00011226,0.00087389,0.00009780,-0.00000200,0.00010080,-0.00000140,0.00009780,-0.00000200,0.00008520,0.00083190

In [12]:
common_df[[
    'time','x_kalman', 'x_gold','y_kalman', 'y_gold','z_kalman', 'z_gold',  
]]

,time,x_kalman,x_gold,y_kalman,y_gold,z_kalman,z_gold
0,712215465.00000000,-2575288.60969962,-2575288.61500000,-3682570.76516713,-3682570.76100000,4511064.96401325,4511064.96100000
1,712215467.26326096,-2575287.19282007,-2575287.15700000,-3682572.03988926,-3682572.08300000,4511065.66815713,4511065.66500000
2,712215467.38339806,-2575287.13657920,-2575287.09800000,-3682572.09665570,-3682572.13700000,4511065.66491367,4511065.66200000
3,712215467.40082097,-2575287.09163074,-2575287.08900000,-3682572.13355411,-3682572.14500000,4511065.65574961,4511065.66000000
4,712215480.00000000,-2575279.82298788,-2575279.82100000,-3682576.58206697,-3682576.57000000,4511066.24882862,4511066.25000000
...,...,...,...,...,...,...,...
2957,712238336.00000000,-2576518.39653717,-2576518.39900000,-3682660.99401738,-3682660.99600000,4510294.03197784,4510294.03400000
2958,712238351.00000000,-2576521.23558034,-2576521.23300000,-3682659.72708572,-3682659.73000000,4510294.06119276,4510294.05900000
2959,712238366.00000000,-2576524.97906577,-2576524.97700000,-3682658.54322488,-3682658.54900000,4510292.72733869,4510292.73200000
2960,712238381.00000000,-2576530.16229391,-2576530.16700000,-3682657.19230841,-3682657.19200000,4510291.13417657,4510291.14000000
2961,712238396.00000000,-2576537.79917405,-2576537.79700000,-3682654.09532720,-3682654.09700000,4510288.99806956,4510289.00000000

In [13]:
common_df_comparison = common_df

In [14]:
common_df_comparison["x_kalman_diff_x_gold"] = common_df_comparison["x_kalman"] - common_df_comparison["x_gold"]
common_df_comparison["y_kalman_diff_y_gold"] = common_df_comparison["y_kalman"] - common_df_comparison["y_gold"]
common_df_comparison["z_kalman_diff_z_gold"] = common_df_comparison["z_kalman"] - common_df_comparison["z_gold"]

common_df_comparison[[
    "x_kalman_diff_x_gold", "y_kalman_diff_y_gold", "z_kalman_diff_z_gold"  
]]

      x_kalman_diff_x_gold  y_kalman_diff_y_gold  z_kalman_diff_z_gold
0               0.00530038           -0.00416713            0.00301325
1              -0.03582007            0.04311074            0.00315713
2              -0.03857920            0.04034430            0.00291367
3              -0.00263074            0.01144589           -0.00425039
4              -0.00198788           -0.01206697           -0.00117138
...                    ...                   ...                   ...
2957            0.00246283            0.00198262           -0.00202216
2958           -0.00258034            0.00291428            0.00219276
2959           -0.00206577            0.00577512           -0.00466131
2960            0.00470609           -0.00030841           -0.00582343
2961           -0.00217405            0.00167280           -0.00193044

[2962 rows x 3 columns]

In [15]:
print(
    f"{common_df_comparison['x_kalman_diff_x_gold'].mean()=}\n"
    f"{common_df_comparison['y_kalman_diff_y_gold'].mean()=}\n"
    f"{common_df_comparison['z_kalman_diff_z_gold'].mean()=}\n"
    f"{common_df_comparison['x_kalman_diff_x_gold'].std()=}\n"
    f"{common_df_comparison['y_kalman_diff_y_gold'].std()=}\n"
    f"{common_df_comparison['z_kalman_diff_z_gold'].std()=}\n"
)

common_df_comparison['x_kalman_diff_x_gold'].mean()=0.0077977153476689876
common_df_comparison['y_kalman_diff_y_gold'].mean()=-0.002975564707066816
common_df_comparison['z_kalman_diff_z_gold'].mean()=0.003035175979733568
common_df_comparison['x_kalman_diff_x_gold'].std()=0.023973821619846136
common_df_comparison['y_kalman_diff_y_gold'].std()=0.025762948650556932
common_df_comparison['z_kalman_diff_z_gold'].std()=0.024016858558584393

In [16]:
common_df[[
    'time',
    'xx_kalman', 'xx_gold',
    'yy_kalman', 'yy_gold',
    'zz_kalman', 'zz_gold',
]]

,time,xx_kalman,xx_gold,yy_kalman,yy_gold,zz_kalman,zz_gold
0,712215465.00000000,0.00004146,0.00076427,0.00019435,0.00100377,0.00011162,0.00088748
1,712215467.26326096,0.00017376,0.00031548,0.00029513,0.00055488,0.00023001,0.00043844
2,712215467.38339806,0.00020575,0.00041280,0.00031845,0.00065221,0.00025819,0.00053579
3,712215467.40082097,0.00021350,0.00047584,0.00032391,0.00071525,0.00026485,0.00059884
4,712215480.00000000,0.00004143,0.00076328,0.00019422,0.00100290,0.00011155,0.00088686
...,...,...,...,...,...,...,...
2957,712238336.00000000,0.00011702,0.00088004,0.00011008,0.00087109,0.00008563,0.00087399
2958,712238351.00000000,0.00011746,0.00088386,0.00011054,0.00087088,0.00008493,0.00083280
2959,712238366.00000000,0.00011747,0.00088394,0.00011054,0.00087307,0.00008493,0.00083306
2960,712238381.00000000,0.00012188,0.00105453,0.00011333,0.00092238,0.00008708,0.00085666
2961,712238396.00000000,0.00011926,0.00088495,0.00011226,0.00087389,0.00008520,0.00083190

In [17]:
common_df_comparison["xx_kalman_diff_xx_gold"] = common_df_comparison["xx_kalman"] - common_df_comparison["xx_gold"]
common_df_comparison["yy_kalman_diff_yy_gold"] = common_df_comparison["yy_kalman"] - common_df_comparison["yy_gold"]
common_df_comparison["zz_kalman_diff_zz_gold"] = common_df_comparison["zz_kalman"] - common_df_comparison["zz_gold"]

common_df_comparison[[
    "xx_kalman_diff_xx_gold", "yy_kalman_diff_yy_gold", "zz_kalman_diff_zz_gold"  
]]

      xx_kalman_diff_xx_gold  yy_kalman_diff_yy_gold  zz_kalman_diff_zz_gold
0                -0.00072281             -0.00080943             -0.00077586
1                -0.00014171             -0.00025975             -0.00020843
2                -0.00020705             -0.00033376             -0.00027761
3                -0.00026234             -0.00039134             -0.00033399
4                -0.00072185             -0.00080868             -0.00077531
...                      ...                     ...                     ...
2957             -0.00076302             -0.00076101             -0.00078836
2958             -0.00076639             -0.00076034             -0.00074787
2959             -0.00076647             -0.00076253             -0.00074813
2960             -0.00093264             -0.00080905             -0.00076959
2961             -0.00076569             -0.00076162             -0.00074670

[2962 rows x 3 columns]

In [18]:
print(
    f"{common_df_comparison['xx_kalman_diff_xx_gold'].mean()=}\n"
    f"{common_df_comparison['yy_kalman_diff_yy_gold'].mean()=}\n"
    f"{common_df_comparison['zz_kalman_diff_zz_gold'].mean()=}\n"
    f"{common_df_comparison['xx_kalman_diff_xx_gold'].std()=}\n"
    f"{common_df_comparison['yy_kalman_diff_yy_gold'].std()=}\n"
    f"{common_df_comparison['zz_kalman_diff_zz_gold'].std()=}\n"
)

common_df_comparison['xx_kalman_diff_xx_gold'].mean()=-0.0004892284123305286
common_df_comparison['yy_kalman_diff_yy_gold'].mean()=-0.0005128096826978113
common_df_comparison['zz_kalman_diff_zz_gold'].mean()=-0.0005410971205210418
common_df_comparison['xx_kalman_diff_xx_gold'].std()=0.000282482205226177
common_df_comparison['yy_kalman_diff_yy_gold'].std()=0.0002808204215482102
common_df_comparison['zz_kalman_diff_zz_gold'].std()=0.0002772007185417633

In [19]:
np.allclose(
    common_df["x_kalman"].values, common_df["x_gold"].values,
    rtol=1e-6
)

True

In [20]:
np.allclose(
    common_df["y_kalman"].values, common_df["y_gold"].values,
    rtol=1e-6
)

True

In [21]:
np.allclose(
    common_df["z_kalman"].values, common_df["z_gold"].values,
    rtol=1e-6
)

True

In [22]:
np.allclose(
    common_df["xx_kalman"].values, common_df["xx_gold"].values,
    rtol=1e-5
)

False

In [23]:
np.allclose(
    common_df["yy_kalman"].values, common_df["yy_gold"].values,
    rtol=1e-5
)

False

In [24]:
np.allclose(
    common_df["zz_kalman"].values, common_df["zz_gold"].values,
    rtol=1e-5
)

False