In [1]:
from gnatss.ops.posfilter import kalman_filtering
from gnatss.loaders import read_novatel_L1_data_files
from gnatss.loaders import load_gps_solutions

In [2]:
gps_df = load_gps_solutions(
    files = [
        'tests/data/2022/NCL1/208/GPS_PPP/GPS_POS_FREED',
        'tests/data/2022/NCL1/209/GPS_PPP/GPS_POS_FREED',
        'tests/data/2022/NCL1/210/GPS_PPP/GPS_POS_FREED',

    ],
    is_novatel_l1_data=True,
)
gps_df

all_gps_solutions.columns=Index(['time', 'dtype', 'x', 'y', 'z', 'sdx', 'sdy', 'sdz'], dtype='object')

/home/madhavmk/Desktop/offshore-geodesy/src/gnatss/loaders.py:299: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  pd.read_csv(i, delim_whitespace=True, header=None, names=columns) for i in files
/home/madhavmk/Desktop/offshore-geodesy/src/gnatss/loaders.py:299: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  pd.read_csv(i, delim_whitespace=True, header=None, names=columns) for i in files
/home/madhavmk/Desktop/offshore-geodesy/src/gnatss/loaders.py:299: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  pd.read_csv(i, delim_whitespace=True, header=None, names=columns) for i in files

,time,x,y,z,sdx,sdy,sdz
0,712207183.0,-2.574893e+06,-3.681574e+06,4.512097e+06,2.4491,2.4489,2.4488
1,712207184.0,-2.574893e+06,-3.681574e+06,4.512097e+06,2.2359,2.2357,2.2356
2,712207185.0,-2.574893e+06,-3.681574e+06,4.512097e+06,2.0000,1.9998,1.9997
3,712207186.0,-2.574893e+06,-3.681574e+06,4.512097e+06,1.7323,1.7320,1.7319
4,712207187.0,-2.574893e+06,-3.681574e+06,4.512097e+06,1.4147,1.4144,1.4142
...,...,...,...,...,...,...,...
193288,712400473.0,-2.575283e+06,-3.682610e+06,4.511038e+06,0.0134,0.0137,0.0158
193289,712400474.0,-2.575284e+06,-3.682610e+06,4.511038e+06,0.0134,0.0137,0.0158
193290,712400475.0,-2.575284e+06,-3.682610e+06,4.511038e+06,0.0134,0.0137,0.0158
193291,712400476.0,-2.575284e+06,-3.682609e+06,4.511037e+06,0.0134,0.0137,0.0158
193292,712400477.0,-2.575284e+06,-3.682608e+06,4.511038e+06,0.0134,0.0137,0.0158

In [3]:
inspvaa_df = read_novatel_L1_data_files(data_files=['tests/data/2022/NCL1/NCL1_INSPVAA.dat'], data_format="INSPVAA")
insstdeva_df = read_novatel_L1_data_files(data_files=['tests/data/2022/NCL1/NCL1_INSSTDEVA.dat'],
                                          data_format="INSSTDEVA")

In [4]:
smoothed_df = kalman_filtering(inspvaa_df, insstdeva_df, gps_df)

In [5]:
# smoothed_df.columns
# print(columns)
smoothed_df = smoothed_df[['dts', 'x', 'y', 'z', 'sdx', 'sdy', 'sdz']]
smoothed_df

,dts,x,y,z,sdx,sdy,sdz
0,7.122072e+08,-2.574898e+06,-3.681585e+06,4.512085e+06,-0.286953,-0.687997,-1.308188
1,7.122072e+08,-2.574898e+06,-3.681586e+06,4.512084e+06,-0.286931,-0.688060,-1.308165
2,7.122072e+08,-2.574898e+06,-3.681586e+06,4.512084e+06,-0.276852,-0.694617,-1.297266
3,7.122072e+08,-2.574898e+06,-3.681586e+06,4.512084e+06,-0.266797,-0.701508,-1.278100
4,7.122072e+08,-2.574898e+06,-3.681586e+06,4.512084e+06,-0.260436,-0.706062,-1.251912
...,...,...,...,...,...,...,...
3865063,7.124005e+08,-2.575285e+06,-3.682608e+06,4.511038e+06,-1.179420,0.631966,0.274123
3865064,7.124005e+08,-2.575285e+06,-3.682608e+06,4.511038e+06,-1.184249,0.666596,0.197911
3865065,7.124005e+08,-2.575285e+06,-3.682608e+06,4.511038e+06,-1.164276,0.708081,0.095160
3865066,7.124005e+08,-2.575285e+06,-3.682608e+06,4.511038e+06,-1.128390,0.740238,-0.002475
3865067,7.124005e+08,-2.575285e+06,-3.682608e+06,4.511038e+06,-1.073588,0.765921,-0.084651

In [6]:
gps_df

,time,x,y,z,sdx,sdy,sdz
0,712207183.0,-2.574893e+06,-3.681574e+06,4.512097e+06,2.4491,2.4489,2.4488
1,712207184.0,-2.574893e+06,-3.681574e+06,4.512097e+06,2.2359,2.2357,2.2356
2,712207185.0,-2.574893e+06,-3.681574e+06,4.512097e+06,2.0000,1.9998,1.9997
3,712207186.0,-2.574893e+06,-3.681574e+06,4.512097e+06,1.7323,1.7320,1.7319
4,712207187.0,-2.574893e+06,-3.681574e+06,4.512097e+06,1.4147,1.4144,1.4142
...,...,...,...,...,...,...,...
193288,712400473.0,-2.575283e+06,-3.682610e+06,4.511038e+06,0.0134,0.0137,0.0158
193289,712400474.0,-2.575284e+06,-3.682610e+06,4.511038e+06,0.0134,0.0137,0.0158
193290,712400475.0,-2.575284e+06,-3.682610e+06,4.511038e+06,0.0134,0.0137,0.0158
193291,712400476.0,-2.575284e+06,-3.682609e+06,4.511037e+06,0.0134,0.0137,0.0158
193292,712400477.0,-2.575284e+06,-3.682608e+06,4.511038e+06,0.0134,0.0137,0.0158